{% extends "main/base.html" %}
{% load static %}

{% block title %}Sexy{% endblock %}

{% block content %}
<h1>Create Review ig</h1>

<form method="POST">
    {% csrf_token %}
    <label>cleanliness</label>
    <input type="number" name="cleanlinessRating"></input>
    <label>aesthetic</label>
    <input type="number" name="aestheticRating"></input>
    <label>comfortRating</label>
    <input type="number" name="comfortRating"></input>
    <label>valueRating</label>
    <input type="number" name="valueRating"></input>
    <label>Comment</label>
    <textarea name="comment"></textarea>

    <input type="submit">
</form>


{% endblock %}