{% extends "main/base.html" %}
{% load static %}

{% block title %}Sexy{% endblock %}

{% block content %}

<h2>UserID: {{userid}}</H2>
<h2>UserName: {{username}}</h2>

<h2>
Main Account type: {{ accountType }}
</h2>

<ul>
    <li>isUser? {{isUser}}</li>
    <li>isOwner? {{isOwner}}</li>
    <li>isAdmin? {{isAdmin}}</li>
</ul>

<h2>Profile Picture: <img style="max-width:200px;height:auto;object-fit:cover" id="roomFormImage" src="{{picture.url}}"
    alt="your image" /></h2>

<h2>Img src: {{picture.url}}</h2>

{% endblock %}