{% extends "main/base.html" %}
{% load static %}

{% block title %}Sexy{% endblock %}

{% block content %}
<h1>Suggestions</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table style="width:100%">
                {% for i in suggestion %}
                    <tr>
                        <td>ID: {{i.id}}</td>
                        <td>Topic: {{i.Topic}}</td>
                        <td>
                            {{i.message}}
                        </td>
                        <td>
                            <ul>
                                <li>favourite: {{i.favourite}}</li>
                                <li>userID: {{i.userID}}</li>
                                <li>timeStamp: {{i.timeStamp}}</li>
                                <li>resolved: {{i.resolved}}</li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}