{% extends "main/base.html" %}
{% load static %}

{% block title %} User Page {% endblock %}

{% block content %}
<div class = "container my-5">
    <div class="row">
        <div class="titlepage">
            <h2>User Profile</h2>
            <span>View information about your profile here</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>Account Type: {{ accountType }}</h2>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-6">
            <ul>
                <li><H1>UserID: {{userid}}</H1></li>
                <li><H1>UserName: {{username}}</H1></li>
            </ul>
        </div>

        <div class="col-6 justfiy-content-center mx-auto align-items-middle">
            <img style="margin-block: auto;width:40%;height:auto;object-fit:cover;border-radius:50%;border:black solid 2px;margin-inline:auto;align-items: center;justify-content: center;display:block" id="roomFormImage" src="{{picture.url}}"
            alt="your image" />
        </div>
    </div>
    
</div>

{% endblock %}